@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: whitesmoke; /* cornsilk #f1f1f1 */
  color: black;
  font-family: "Arimo", sans-serif, bold;
}

/* Miscellaneous */ 

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
}

/* Header */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
}

.nav-link:hover {
  color: white;
}

.nav-masthead .active {
  color: white;
} 

.nav-item:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	transition: width .6s ease, background-color .6s ease;
}

.nav-item:hover:after {
	width: 100%;
	background: #76c23d;
}

.nav-masthead .active  {
  color: white;
} 

/* Footer */

.footerIcon {
  font-size: 2rem;
}

.bi-twitter:hover {
  color: #2badda;
}

.bi-instagram:hover {
  color: #eb388c;
}

.bi-facebook:hover {
  color: #0098ee;
}

.bi-github:hover {
  color: #1a1f23;
}

/* Contact */ 

#contactForm {
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Community */

#communityBannerImage {
  background: url(../img/community/bannerCommunity.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.communityImage {
  transition: .5s ease-in-out;
}

.communityImage:hover {
  filter: brightness(70%);
}

/* Products */ 

.carousel-inner {
  margin-top: 4rem;
  max-height: 80vh;
}

.cart {
  height: 15vh;
}

.card-img-top {
  max-width: 500px;
}

/* Home */

.homeBanner {
  background: url(../img/indexBanner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* About us */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #ade4c9; /* #e5e5e5; */ /* #d3f3dd */
}

 .flex-equal > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}