@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.title, .headingLines {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
}

.headingLines {
  display: inline-block;
  position: relative;
}
.headingLines::after {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 0.03em;
  background-color: #202529;
  top: 0.6em;
  right: -3em;
}
.headingLines::before {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 0.03em;
  background-color: #202529;
  top: 0.6em;
  left: -3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: black;
  font-family: "Arimo", sans-serif, bold;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.nav-masthead .nav-link:hover {
  color: white;
}
.nav-masthead .active {
  color: white;
}

.nav-item:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  transition: width 0.6s ease, background-color 0.6s ease;
}
.nav-item:hover:after {
  width: 100%;
  background: #76c23d;
}

.footerIcon {
  font-size: 2rem;
  transition: 0.3s ease-in-out;
}

.bi-twitter:hover {
  color: #2badda;
}

.bi-instagram:hover {
  color: #eb388c;
}

.bi-facebook:hover {
  color: #007bdc;
}

.bi-github:hover {
  color: #1a1f23;
}

.homeBanner {
  background: url("../img/indexBanner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.cardDescription {
  font-family: "DM Sans", sans-serif;
}

.home__hero__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__main__content {
  overflow: hidden;
}
.home__main__content .home__main__row {
  display: flex;
  align-items: center;
}

.carousel-inner {
  margin-top: 4rem;
  max-height: 80vh;
}

.productsHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title {
  font-family: "Varela Round", sans-serif;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem 1rem;
  grid-template-areas: "product1 product2 product3" "product4 product5 product6" "product7 product8 product9" "product10 product11 product12";
}

.product1 {
  grid-area: product1;
}

.product2 {
  grid-area: product2;
}

.product3 {
  grid-area: product3;
}

.product4 {
  grid-area: product4;
}

.product5 {
  grid-area: product5;
}

.product6 {
  grid-area: product6;
}

.product7 {
  grid-area: product7;
}

.product8 {
  grid-area: product8;
}

.product9 {
  grid-area: product9;
}

.product10 {
  grid-area: product10;
}

.product11 {
  grid-area: product11;
}

.product12 {
  grid-area: product12;
}

#communityBannerImage {
  background: url("../img/community/bannerCommunity.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.communityImage {
  transition: 0.5s ease-in-out;
}
.communityImage:hover {
  filter: brightness(70%);
}

.aboutUs__Header {
  background: url("../img/about-us/bgHeader.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.media__wrapper {
  overflow-x: hidden;
}

.aboutUs__video__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.aboutUs__map__container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.aboutUs__media, .aboutUs__media_map {
  max-width: 670px;
}

.aboutUs__media_map {
  filter: grayscale(75%);
}

.contact {
  background: url("../img/contact/contactbgImg.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.input-group {
  width: 30%;
}

#contactForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  max-width: 31.25rem;
}

#contact__info__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 576px) {
  .productsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-inner {
    margin-top: 6rem;
  }

  .headingLines::after, ::before {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .input-group {
    width: 65% !important;
  }

  .headingLines {
    font-size: 2.8rem;
  }

  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "product1 product2" "product3 product4" "product5 product6" "product7 product8" "product9 product10" "product11 product12";
  }
}/*# sourceMappingURL=style.css.map */