.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__media {
  display: flex;
  justify-content: end;
}

.footerIcon {
    font-size: 2rem;
    transition: .3s ease-in-out;
  }
  
  .bi-twitter{
 
    &:hover {
    color: $twitter;
    }
  }
  
  .bi-instagram{
  
    &:hover {
    color: $instagram;
    }
  }
  
  .bi-facebook {
  
    &:hover {
    color: $facebook;
    }
  }
  
  .bi-github { 
    
    &:hover {
    color: $github;
    }
  }