#communityBannerImage {
    @include backgroundImage($communityBgImgPath);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .communityImage {
    transition: .5s ease-in-out;
    
    &:hover {
      filter: brightness(70%);
    }
 
  }