.contact {
  @include backgroundImage($contactBgImgPath);
  height: 100vh;
  position: relative;
}

.input-group {
  width: 30%;
}

#contactForm {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: transparent;
  max-width: 31.25rem;
}

#contact__info__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}