.carousel-inner {
    margin-top: 4rem;
    max-height: 80vh;
  }

  .card-title {
    font-family: 'Varela Round', sans-serif;
  }

  .productsContainer {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 1rem 1rem; 
    grid-template-areas: 
      "product1 product2 product3"
      "product4 product5 product6"
      "product7 product8 product9"
      "product10 product11 product12";
  } 

.product1 { grid-area: product1; }
.product2 { grid-area: product2; }
.product3 { grid-area: product3; }
.product4 { grid-area: product4; }
.product5 { grid-area: product5; }
.product6 { grid-area: product6; }
.product7 { grid-area: product7; }
.product8 { grid-area: product8; }
.product9 { grid-area: product9; }
.product10 { grid-area: product10; }
.product11 { grid-area: product11; }
.product12 { grid-area: product12; }