// Colors

$twitter: #2badda;
$facebook: #007bdc; 
$instagram: #eb388c;
$github: #1a1f23;

// Paths

$communityBgImgPath: "../img/bannerCommunity.jpg";
$indexBgImgPath: "../img/indexBanner.jpg";
$aboutUsBgImgPath: "../img/bgHeader.png";
$contactBgImgPath: "../img/contactbgImg.png";