// Colors

$twitter: #2badda;
$facebook: #0098ee; 
$instagram: #eb388c;
$github: #1a1f23;

// Paths

$communityBgImgPath: "../img/community/bannerCommunity.jpg";
$indexBgImgPath: "../img/indexBanner.jpg";
$aboutUsBgImgPath: "../img/about-us/bgHeader.png";
$contactBgImgPath: "../img/contact/contactbgImg.png";
